In [1]:
# -*- coding: utf-8 -*-

# Python'da Değişkenler

## 1. Nümerik değerler

In [5]:
x = 3
x

3

In [6]:
type(x)

int

In [7]:
y = x * 2

In [8]:
type(y)

int

In [9]:
x = 3.

In [10]:
type(x)

float

In [11]:
x

3.0

In [12]:
y = x * 2

In [13]:
y

6.0

In [14]:
type(y)

float

### Temel aritmetik operasyonları

In [18]:
print('3 + 2 = ', 3 + 2)
print('3 - 2 = ', 3 - 2)
print('3 * 2 = ', 3 * 2)
print('3 / 2 = ', 3 / 2)
print('3 ** 2 = ', 3 ** 2)

3 + 2 =  5
3 - 2 =  1
3 * 2 =  6
3 / 2 =  1.5
3 ** 2 =  9

### İşlem önceliği

In [19]:
print('3 * 2 + 4 = ', 3 * 2 + 4)
print('3 * (2 + 4) = ', 3 * (2 + 4))
print('3 ** 2 * 4 = ', 3 ** 2 * 4)
print('3 ** (2 * 4) = ', 3 ** (2 * 4))
print('6 - 4 - 1 = ', 6 - 4 - 1)

3 * 2 + 4 =  10
3 * (2 + 4) =  18
3 ** 2 * 4 =  36
3 ** (2 * 4) =  6561
6 - 4 - 1 =  1

### Mod işlemi

In [20]:
print('13 mod 9 = ', 13 % 9)
print('20 mod 9 = ', 20 % 9)
print('8 mod 9 = ', 8 % 9)
print('1 mod 9 = ', 1 % 9)
print('13 mod 2 = ', 13 % 2)

13 mod 9 =  4
20 mod 9 =  2
8 mod 9 =  8
1 mod 9 =  1
13 mod 2 =  1

## Metinsel değişkenler

In [22]:
s1 = '1837'
print('s1 = ', s1)
s2 = '837'
print('s2 = ', s2)

s1 =  1837
s2 =  837

In [26]:
print('type of s1 is', type(s1))
print('type of s2 is', type(s2))

type of s1 is <class 'str'>
type of s2 is <class 'str'>

In [27]:
print(s1 + s2)

1837837

### Veri dönüşümleri

In [29]:
i1 = int(s1)
i2 = int(s2)
print(i1 + i2)

2674

In [37]:
s3 = 0
s4 = 5325320532
s3 = str(s3)
print(s3)

0

In [38]:
s3 + s4

TypeError: Can't convert 'int' object to str implicitly

In [40]:
'telefonum ' + s3 + str(s4)

'telefonum 05325320532'

### Metin yerleştirme

In [48]:
taslak = 'telefonum %s'
sonuc  = taslak % s4
print(sonuc)

telefonum 5325320532

In [54]:
taslak = 'telefonum %s%s'
sonuc  = taslak % (s3,s4)
print(sonuc)

telefonum 05325320532

In [58]:
taslak = 'ara beni %s%s :)))'
print(taslak % (s3,s4))

ara beni 05325320532 :)))

In [60]:
taslak = 'telefonum %f'
print(taslak % s4)

telefonum 5325320532.000000